.swiper-button-next,
.swiper-button-prev {
    @apply bg-gradient-to-r from-pink-500 to-yellow-500 bg-clip-text text-transparent;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    @apply bg-gradient-to-r from-pink-400 to-yellow-400 bg-clip-text text-transparent;
}

.swiper-pagination-bullet {
    @apply bg-pink-500 w-2 h-2 rounded-full opacity-30;
}

.swiper-pagination-bullet-active {
    @apply bg-gradient-to-r from-pink-400 to-yellow-400 w-2 h-2 rounded-full opacity-100;
}

.marquee-container {
  overflow: hidden;
  position: relative;
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
